.test-login-wrapper .button, .test-login-wrapper .spinner, .sync-wrapper .button, .sync-wrapper .spinner {
  float: left;
  margin-bottom: 20px;
}

.ccb_core_settings-wrapper div.ajax-message {
  width: 50%;
  padding: 10px;
  clear:both;
  font-size: 13px;
}

.ccb_core_settings-wrapper code {
  background: none;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
}

.ccb_core_settings ul {
  list-style: inherit;
  list-style-position: inside;
}

.ccb_core_settings form {
  background-color: white;
  padding: 5px 30px;
  margin-top: 12px;
}

.ccb_core_settings-wrapper .slider-wrapper {
  width: 250px;
  float: left;
  margin-top: 12px;
  margin-right: 12px;
}

.ccb_core_settings-wrapper .date-picker-wrapper {
  display: inline;
}
.ccb_core_settings-wrapper .date-picker-wrapper .picker .picker__table {
  width: inherit;
}
.ccb_core_settings-wrapper .date-picker-wrapper .picker .picker__frame {
  max-width: 500px;
}

.ccb_core_settings-wrapper fieldset {
  display: inline;
}

.ccb_core_settings-wrapper .ccb-core-tooltip {
  font-size: 24px;
  margin-left: 24px;
}

